
.color-list {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 2em;
}

.color-item div:nth-child(1) {
	width: 100%;
	height: 5em;
}

.color-item div:nth-child(2) {
	width: 100%;
	height: 20%;
	text-align: center;
}
