<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gin表单上传</title>
</head>
<body>
    <h3>gin表单上传</h3>
    <hr>
    <form action="/form_post" method="POST" enctype="multipart/form-data">
        名称: <input type="text" name="name" value="coder"><br>
        消息: <input type="text" name="message" value="hello world"><br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <input type="submit" values="提交">
    </form>
</body>
</html>