<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https:////unpkg.com/element-plus/dist/index.css">
    <script src="https://unpkg.com/element-plus"></script>
</head>
<body>
    <div id="Application">
        <el-select :multiple="true" :clearable="true" v-model="value">
            <el-option-group v-for="group in options" :key="group.label" :label="group.label">
                <el-option v-for="item in group.options" :value="item.value" :label="item.label" :key="item.value"></el-option>
            </el-option-group>
        </el-select>
    </div>
    <script>
        Vue.createApp({
            data() {
                return {
                    value: '',
                    options: [{
                        label: '球类',
                        options: [{
                            value: '选项1',
                            label: '足球'
                        },{
                            value: '选项2',
                            label: '篮球',
                            disabled: true
                        },{
                            value: '选项3',
                            label: '排球'
                        },{
                            value: '选项4',
                            label: '乒乓球'
                        }]
                    },{
                        label: '休闲',
                        options: [{
                            value: '选项5',
                            label: '散步'
                        },{
                            value: '选项6',
                            label: '游泳'
                        }]
                    }]
                }
            }
        }).use(ElementPlus).mount("#Application")
    </script>
</body>
</html>