<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https:////unpkg.com/element-plus/dist/index.css">
    <script src="https://unpkg.com/element-plus"></script>
</head>
<body>
    <div id="Application">
        <div>
            <el-switch v-model="switch1" active-text="会员" inactive-text="非会员" active-color="#00FF00" inactive-color="#FF0000"></el-switch>
        </div>
        <div>
            <el-switch v-model="switch2" active-text="加载中" :loading="true"></el-switch>
        </div>
        <div>
            <el-switch v-model="switch3" inactive-text="禁用" :disabled="true"></el-switch>
        </div>
    </div>
    <script>
        Vue.createApp({
            data() {
                return {
                    switch1: '',
                    switch2: '',
                    switch3: ''
                }
            }
        }).use(ElementPlus).mount("#Application")
    </script>
</body>
</html>