
.child {
	display: inline-block;
	background-color: lightblue;
	width: 50%;
	height: 100px;
}

.parent {
	background-color: #F69C55;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}