<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="register.css">
</head>
<body>
    <div id="Application">
        <div class="container">
            <div class="subTitle">Hello World</div>
            <h1 class="title">创建你的账号</h1>
            <div v-for="(item,index) in fields" class="inputContainer">
                <div class="field">{{item.title}} <span v-if="item.required" style="color:red;">*</span></div>
                <input v-model="item.model" class="input" :type="item.type"/>
                <div class="tip" v-if="index == 2">请确认密码程度需要大于 6 位</div>
            </div>
            <div class="subContainer">
                <div class="setting">偏好设置</div>
                <input v-model="receiveMsg" class="checkbox" type="checkbox"/><label class="label">接收更新邮件</label>
            </div>
            <button @click="createAccount" class="btn">创建账号</button>
        </div>
    </div>
    <script>
        const App = {
            data() {
                return {
                    fields: [
                        {
                            title: '用户名',
                            required: true,
                            type: 'text',
                            model: ''
                        },
                        {
                            title: '邮箱地址',
                            required: false,
                            type: 'text',
                            model: ''
                        },
                        {
                            title: '密码',
                            required: true,
                            type: 'password',
                            model: ''
                        }
                    ],
                    receiveMsg: false
                }
            },
            computed: {
                name: {
                    get() {
                        return this.fields[0].model
                    },
                    set(value) {
                        this.fields[0].model = value
                    }
                },
                email: {
                    get() {
                        return this.fields[1].model
                    },
                    set(value) {
                        this.fields[1].model = value
                    }
                },
                password: {
                    get() {
                        return this.fields[2].model
                    },
                    set(value) {
                        this.fields[2].model = value
                    }
                }
            },
            methods: {
                emailCheck() {
                    var verify = /^\w[-\w.+]*@(A-Za-z0-9][-A-Za-z0-9]+\.)+[A-Za-z]{2,14}/;
                    if (! verify.test(this.email)) {
                        return false;
                    } else {
                        return true;
                    }
                },
                createAccount() {
                    if (this.name.length == 0) {
                        alert('请输入用户名')
                        return
                    } else if (this.password.length <= 6) {
                        alert('密码设置需要大于6位字符')
                        return
                    } else if (this.email.length > 0 && ! this.emailCheck(this.email)) {
                        alert('请输入正确的邮箱')
                        return
                    }
                    alert('注册成功')
                }
            }
        }
        Vue.createApp(App).mount("#Application")
    </script>
</body>
</html>