<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .container {
            margin: 50px;
        }
        .content {
            margin: 20px;
        }
    </style>
</head>
<body>
    <div id="Application">
        <div class="container">
            <div class="container">
                <input type="radio" :value="-1" v-model="sexFilter">全部
                <input type="radio" :value="0" v-model="sexFilter">男
                <input type="radio" :value="1" v-model="sexFilter">女
            </div>
            <div class="content">搜索: <input type="text" v-model="searchKey"></div>
            <div class="content">
                <table border="1" width="300px">
                    <tr>
                        <th>姓名</th>
                        <th>性别</th>
                    </tr>
                    <tr v-for="(item, index) in showDatas">
                        <td>{{item.name}}</td>
                        <td>{{item.sex == 0 ? '男' : '女'}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script>
        const mock = [ { name: '小王', sex: 0 }, { name: '小红', sex: 1 }, { name: '小李', sex: 1 }, { name: '小张', sex: 0 } ]
        const App = Vue.createApp({
            data() {
                return {
                    // 性别筛选字段(取值可以是 -1/0/1，分别表示全部/男/女)
                    sexFilter: -1,
                    // 展示的用户列表数据
                    showDatas: [],
                    // 搜索的关键词
                    searchKey: ''
                }
            },
            methods: {
                // 获取用户数据
                queryAllData() {
                    this.showDatas = mock
                },
                // 进行性别筛选
                filterData() {
                    this.searchKey = ''
                    if (this.sexFilter == -1) {
                        this.showDatas = mock
                    } else {
                        this.showDatas = mock.filter(item => { return item.sex == this.sexFilter })
                    }
                },
                // 进行关键词检索
                searchData() {
                    this.sexFilter = -1
                    if (this.searchKey.length == 0) {
                        this.showDatas = mock
                    } else {
                        this.showDatas = mock.filter(item => { return item.name.search(this.searchKey) != -1 })
                    }
                }
            },
            mounted() {
                // 在合适的时间挂载，使用超时模拟网络用时
                setTimeout(this.queryAllData, 3000)
            },
            watch: {
                // 对用于性别筛选和关键词检索的属性变量进行监听，当这些属性变化时，调用相应的功能函数
                sexFilter(oldValue, newValue) {
                    this.filterData()
                },
                searchKey(oldValue, newValue) {
                    this.searchData()
                }
            }
        })
        App.mount('#Application')
    </script>
</body>
</html>